html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKGsJXssy7XfeeHWWK1P7lmxdpVXn5o0i_KEjtYKfRPjFE1YKH5w&s);
}
h2:hover {
  background-color: #FFFFFF
  color:yellow;
}
h3 {
  background-color: #FFFFFF

}
